.contact {
  display: flex;
  align-items: center;
  margin-left: 2em;
  padding-top: 1em;

  padding-left: 1em;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact img {
  width: 40px;
}
