.nav {
  grid-area: n;
  background-color: rgb(44, 45, 46);
}

.item {
  font-size: 1.3em;
  padding: 1em;
}

.item a {
  color: white;
  text-decoration: none;
  width: fit-content;
}
.item .active {
  color: gold;
}
.item a:hover {
  background: rgb(12, 13, 14);
}
