.nav {
  grid-area: n;
  background-color: rgb(72, 85, 95);
}

.item {
  font-size: 2em;
  padding: 1em;
}

.item a {
  color: white;
  text-decoration: none;

  width: max-content;
}
.item .active {
  color: gold;
}
.item a:hover {
  background: rgb(104, 103, 103);
}
