.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.contact_items {
  padding: 1em;
}

.dialog {
}

.messages_container {
  background-color: rgb(156, 149, 149);
  padding: 1em;
}

.message {
}

.active {
  color: gold;
}

.text_message {
  border: 1px solid red;
  text-align: center;
}
